* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


[class*="col-"]{
    background-color: rgb(66, 116, 255);
    margin: 1px;
}

.col-6 .nested{
    background-color: rgb(41, 223, 80);
    height: 70%;
    border: 0;
    margin: 0 2px;
}
